Active database: local nordb

-local nordb-
name: nordb
username: user1
password: user1
location: local

-remote nordb-
name: nordb
username: vagrant
password: vagrant
location: remote
host_ip: 192.168.33.10
host_port: 5432

-test database-
name: test_nordb
username: ilmos
password: salis37
location: local
