Active database: local nordb

-local nordb-
name: nordb
username: ilmosalm
password: 1salis7
location: local

-remote nordb-
name: nordb
username: ilmosalm
password: 1salis7
location: remote
host_ip: mimosa
host_port: 5432

-test database-
name: test_nordb
username: ilmosalm
password: 1salis7
location: local
